Source: ros-humble-vimbax-camera-events
Section: misc
Priority: optional
Maintainer: dlangenkamp <dennis.langenkamp@alliedvision.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-python, ros-humble-ament-cmake-ros, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rclcpp, ros-humble-vimbax-camera-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-vimbax-camera-events
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rclcpp, ros-humble-ros-workspace
Description: Vimba X event support library
